. {
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #c6d3f5;
}
h1 {
    color: rgb(57, 57, 57);
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: normal;
    font-stretch: wider;
}
hr {
    border: 0;
    height: 1px;
    background-color: gray;
}
.wrapper {
    width: 400px;
    height: auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
}
.inputWrapper {
    display: flex;
    flex-direction: row;
}
input {
    padding: 7px 14px;
    flex: 1;
    border-style: none;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-stretch: wider;
    color: #676767;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li {
    padding: 7px 14px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: larger;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-stretch: wider;
    color: #676767;
}

#btnAdd {
    background-color: #5e89f7;
    margin: 0 5px;
    border-radius: 5px;
    border-style: none;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: whitesmoke;
    padding: 7px 14px;
}
#btnDelete {
    background-color: #5e89f7;
    border-radius: 5px;
    border-style: none;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: whitesmoke;
    width: 100%;
    padding: 7px;
}

#btnDelete:hover, #btnAdd:hover {
    background-color: #4f80fb;
    color: whitesmoke;
}